#Importing Libraries

In [127]:
import numpy as np
import pandas as pd

# Loading Dataset

In [128]:
df = pd.read_csv('HR-Employee-Attrition.csv')

# Initial Exploration

In [129]:
# Selects and displays 5 random rows from the DataFrame
df.sample(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
994,52,No,Travel_Frequently,322,Research & Development,28,2,Medical,1,1401,...,2,80,1,24,3,2,5,3,0,2
1203,53,No,Travel_Rarely,1395,Research & Development,24,4,Medical,1,1689,...,3,80,0,11,2,3,4,3,1,2
442,36,No,Non-Travel,635,Sales,10,4,Medical,1,592,...,4,80,0,10,3,2,10,3,9,7
1402,31,No,Travel_Rarely,1276,Research & Development,2,1,Medical,1,1974,...,3,80,3,1,4,3,1,0,0,0
271,47,Yes,Non-Travel,666,Research & Development,29,4,Life Sciences,1,376,...,4,80,1,10,2,2,10,7,9,9

In [130]:
shape = df.shape
missing = df.isnull().sum().sum()
duplicate = df.duplicated().sum()

print("Rows:", shape[0])
print("Columns:", shape[1])
print("Missing values:", missing)
print("Duplicate values:",duplicate)

Rows: 1470
Columns: 35
Missing values: 0
Duplicate values: 0

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [132]:
num_cols = df.select_dtypes(include=['int64']).columns
cat_cols = df.select_dtypes(include=['object']).columns
print("Numerical:", list(num_cols))
print("Categorical:", list(cat_cols))
print(f"Number of Numerical Columns: {len(num_cols)}")
print(f"Number of Categorical Columns: {len(cat_cols)}")

Numerical: ['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']
Categorical: ['Attrition', 'BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Over18', 'OverTime']
Number of Numerical Columns: 26
Number of Categorical Columns: 9

# Converting Categories into Numerical Labels

In [133]:
df.select_dtypes(include=['int64']).sample(5)

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1063,29,1246,19,3,1,1497,3,77,2,2,...,3,80,2,10,3,3,10,7,0,4
1265,33,775,4,3,1,1771,4,90,3,2,...,4,80,2,11,2,2,9,8,1,7
634,25,141,3,1,1,879,3,98,3,2,...,4,80,0,5,3,3,5,3,0,3
766,50,1464,2,4,1,1061,2,62,3,5,...,4,80,1,29,2,2,8,1,7,7
211,30,829,1,1,1,292,3,88,2,3,...,3,80,0,12,2,3,11,8,5,8

In [134]:
df["Education"] = df["Education"].replace({
    1: "High School or Below",
    2: "College Graduate",
    3: "Bachelor’s Degree",
    4: "Master’s Degree",
    5: "Doctorate"
})

df["EnvironmentSatisfaction"] = df["EnvironmentSatisfaction"].replace({
    1: "Low Satisfaction",
    2: "Moderate Satisfaction",
    3: "High Satisfaction",
    4: "Very High Satisfaction"
})

df["JobInvolvement"] = df["JobInvolvement"].replace({
    1: "Low Involvement",
    2: "Moderate Involvement",
    3: "High Involvement",
    4: "Very High Involvement"
})

df["JobLevel"] = df["JobLevel"].replace({
    1: "Entry Level",
    2: "Junior Level",
    3: "Mid Level",
    4: "Senior Level",
    5: "Executive Level"
})

df["JobSatisfaction"] = df["JobSatisfaction"].replace({
    1: "Low Satisfaction",
    2: "Moderate Satisfaction",
    3: "High Satisfaction",
    4: "Very High Satisfaction"
})

df["PerformanceRating"] = df["PerformanceRating"].replace({
    1: "Poor Performance",
    2: "Good Performance",
    3: "Excellent Performance",
    4: "Outstanding Performance"
})

df["RelationshipSatisfaction"] = df["RelationshipSatisfaction"].replace({
    1: "Low Satisfaction",
    2: "Moderate Satisfaction",
    3: "High Satisfaction",
    4: "Very High Satisfaction"
})

df["WorkLifeBalance"] = df["WorkLifeBalance"].replace({
    1: "Poor Balance",
    2: "Good Balance",
    3: "Better Balance",
    4: "Excellent Balance"
})

## Summary stat of numeric variables

In [135]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,1470.0,36.923810,9.135373,18.0,30.00,36.0,43.00,60.0
DailyRate,1470.0,802.485714,403.509100,102.0,465.00,802.0,1157.00,1499.0
DistanceFromHome,1470.0,9.192517,8.106864,1.0,2.00,7.0,14.00,29.0
EmployeeCount,1470.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
EmployeeNumber,1470.0,1024.865306,602.024335,1.0,491.25,1020.5,1555.75,2068.0
HourlyRate,1470.0,65.891156,20.329428,30.0,48.00,66.0,83.75,100.0
MonthlyIncome,1470.0,6502.931293,4707.956783,1009.0,2911.00,4919.0,8379.00,19999.0
MonthlyRate,1470.0,14313.103401,7117.786044,2094.0,8047.00,14235.5,20461.50,26999.0
NumCompaniesWorked,1470.0,2.693197,2.498009,0.0,1.00,2.0,4.00,9.0
PercentSalaryHike,1470.0,15.209524,3.659938,11.0,12.00,14.0,18.00,25.0
StandardHours,1470.0,80.000000,0.000000,80.0,80.00,80.0,80.00,80.0
StockOptionLevel,1470.0,0.793878,0.852077,0.0,0.00,1.0,1.00,3.0
TotalWorkingYears,1470.0,11.279592,7.780782,0.0,6.00,10.0,15.00,40.0
TrainingTimesLastYear,1470.0,2.799320,1.289271,0.0,2.00,3.0,3.00,6.0
YearsAtCompany,1470.0,7.008163,6.126525,0.0,3.00,5.0,9.00,40.0
YearsInCurrentRole,1470.0,4.229252,3.623137,0.0,2.00,3.0,7.00,18.0
YearsSinceLastPromotion,1470.0,2.187755,3.222430,0.0,0.00,1.0,3.00,15.0
YearsWithCurrManager,1470.0,4.123129,3.568136,0.0,2.00,3.0,7.00,17.0

# Removing Unnecessary Columns
The minimum age is 18, so all employees are adults — the 'Over18' column is not needed.

'EmployeeCount' and 'StandardHours' have the same value for everyone, so they don't add any useful information.

'EmployeeNumber' is just an identifier and not useful for analysis, so we remove it too.

In [136]:
df.drop(['EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours'], axis="columns", inplace=True)

In [137]:
categorical = []
for column in df.columns:
    if df[column].dtype == 'object' and df[column].nunique() <= 30:
        categorical.append(column)

        print(f"\nColumn: {column}")
        print("Unique Values:", df[column].unique())
        print("-" * 70)

        print(df[column].value_counts(dropna=False))
        print("=" * 70)

# Remove target variable if needed
if 'Attrition' in categorical:
    categorical.remove('Attrition')

Column: Attrition
Unique Values: ['Yes' 'No']
----------------------------------------------------------------------
Attrition
No     1233
Yes     237
Name: count, dtype: int64
======================================================================

Column: BusinessTravel
Unique Values: ['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']
----------------------------------------------------------------------
BusinessTravel
Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: count, dtype: int64
======================================================================

Column: Department
Unique Values: ['Sales' 'Research & Development' 'Human Resources']
----------------------------------------------------------------------
Department
Research & Development    961
Sales                     446
Human Resources            63
Name: count, dtype: int64
======================================================================

Column: Education
Unique Values: ['College Graduate' 'High School or Below' 'Master’s Degree'
 'Bachelor’s Degree' 'Doctorate']
----------------------------------------------------------------------
Education
Bachelor’s Degree       572
Master’s Degree         398
College Graduate        282
High School or Below    170
Doctorate                48
Name: count, dtype: int64
======================================================================

Column: EducationField
Unique Values: ['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']
----------------------------------------------------------------------
EducationField
Life Sciences       606
Medical             464
Marketing           159
Technical Degree    132
Other                82
Human Resources      27
Name: count, dtype: int64
======================================================================

Column: EnvironmentSatisfaction
Unique Values: ['Moderate Satisfaction' 'High Satisfaction' 'Very High Satisfaction'
 'Low Satisfaction']
----------------------------------------------------------------------
EnvironmentSatisfaction
High Satisfaction         453
Very High Satisfaction    446
Moderate Satisfaction     287
Low Satisfaction          284
Name: count, dtype: int64
======================================================================

Column: Gender
Unique Values: ['Female' 'Male']
----------------------------------------------------------------------
Gender
Male      882
Female    588
Name: count, dtype: int64
======================================================================

Column: JobInvolvement
Unique Values: ['High Involvement' 'Moderate Involvement' 'Very High Involvement'
 'Low Involvement']
----------------------------------------------------------------------
JobInvolvement
High Involvement         868
Moderate Involvement     375
Very High Involvement    144
Low Involvement           83
Name: count, dtype: int64
======================================================================

Column: JobLevel
Unique Values: ['Junior Level' 'Entry Level' 'Mid Level' 'Senior Level' 'Executive Level']
----------------------------------------------------------------------
JobLevel
Entry Level        543
Junior Level       534
Mid Level          218
Senior Level       106
Executive Level     69
Name: count, dtype: int64
======================================================================

Column: JobRole
Unique Values: ['Sales Executive' 'Research Scientist' 'Laboratory Technician'
 'Manufacturing Director' 'Healthcare Representative' 'Manager'
 'Sales Representative' 'Research Director' 'Human Resources']
----------------------------------------------------------------------
JobRole
Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: count, dtype: int64
======================================================================

Column: JobSatisfaction
Unique Values: ['Very High Satisfaction' 'Moderate Satisfaction' 'High Satisfaction'
 'Low Satisfaction']
----------------------------------------------------------------------
JobSatisfaction
Very High Satisfaction    459
High Satisfaction         442
Low Satisfaction          289
Moderate Satisfaction     280
Name: count, dtype: int64
======================================================================

Column: MaritalStatus
Unique Values: ['Single' 'Married' 'Divorced']
----------------------------------------------------------------------
MaritalStatus
Married     673
Single      470
Divorced    327
Name: count, dtype: int64
======================================================================

Column: OverTime
Unique Values: ['Yes' 'No']
----------------------------------------------------------------------
OverTime
No     1054
Yes     416
Name: count, dtype: int64
======================================================================

Column: PerformanceRating
Unique Values: ['Excellent Performance' 'Outstanding Performance']
----------------------------------------------------------------------
PerformanceRating
Excellent Performance      1244
Outstanding Performance     226
Name: count, dtype: int64
======================================================================

Column: RelationshipSatisfaction
Unique Values: ['Low Satisfaction' 'Very High Satisfaction' 'Moderate Satisfaction'
 'High Satisfaction']
----------------------------------------------------------------------
RelationshipSatisfaction
High Satisfaction         459
Very High Satisfaction    432
Moderate Satisfaction     303
Low Satisfaction          276
Name: count, dtype: int64
======================================================================

Column: WorkLifeBalance
Unique Values: ['Poor Balance' 'Better Balance' 'Good Balance' 'Excellent Balance']
----------------------------------------------------------------------
WorkLifeBalance
Better Balance       893
Good Balance         344
Excellent Balance    153
Poor Balance          80
Name: count, dtype: int64
======================================================================

In [138]:
df.nunique()

Age                           43
Attrition                      2
BusinessTravel                 3
DailyRate                    886
Department                     3
DistanceFromHome              29
Education                      5
EducationField                 6
EnvironmentSatisfaction        4
Gender                         2
HourlyRate                    71
JobInvolvement                 4
JobLevel                       5
JobRole                        9
JobSatisfaction                4
MaritalStatus                  3
MonthlyIncome               1349
MonthlyRate                 1427
NumCompaniesWorked            10
OverTime                       2
PercentSalaryHike             15
PerformanceRating              2
RelationshipSatisfaction       4
StockOptionLevel               4
TotalWorkingYears             40
TrainingTimesLastYear          7
WorkLifeBalance                4
YearsAtCompany                37
YearsInCurrentRole            19
YearsSinceLastPromotion       16
YearsWithCurrManager          18
dtype: int64

##Chi-Square Test of Independence

In [139]:
from scipy.stats import chi2_contingency
df["Attrition"] = df["Attrition"].astype("category")

# Select categorical variables (including 'object' types)
cat_cols = df.select_dtypes(include=["category", "object"]).columns.tolist()
cat_cols = [col for col in cat_cols if col != "Attrition"]  # exclude target

chi_statistic = []
p_val = []
vars_rm = []

for col in cat_cols:
    observed = pd.crosstab(df["Attrition"], df[col])
    stat, p, dof, expected = chi2_contingency(observed)
    chi_statistic.append(stat)
    p_val.append(p)

    if p >= 0.05:
        print(f"Attrition and {col} are independent (p-value = {p:.2f}).\n")
        vars_rm.append(col)

chi_df = pd.DataFrame({
    "Variable": cat_cols,
    "Chi_Statistic": chi_statistic,
    "P_value": p_val
}).sort_values("P_value", ascending=True)

display(chi_df)

Attrition and Education are independent (p-value = 0.55).

Attrition and Gender are independent (p-value = 0.29).

Attrition and PerformanceRating are independent (p-value = 0.99).

Attrition and RelationshipSatisfaction are independent (p-value = 0.15).

                    Variable  Chi_Statistic       P_value
11                  OverTime      87.564294  8.158424e-21
8                    JobRole      86.190254  2.752482e-15
7                   JobLevel      72.529013  6.634685e-15
10             MaritalStatus      46.163677  9.455511e-11
6             JobInvolvement      28.492021  2.863181e-06
0             BusinessTravel      24.182414  5.608614e-06
4    EnvironmentSatisfaction      22.503881  5.123469e-05
9            JobSatisfaction      17.505077  5.563005e-04
14           WorkLifeBalance      16.325097  9.725699e-04
1                 Department      10.796007  4.525607e-03
3             EducationField      16.024674  6.773980e-03
13  RelationshipSatisfaction       5.241068  1.549724e-01
5                     Gender       1.116967  2.905724e-01
2                  Education       3.073961  5.455253e-01
12         PerformanceRating       0.000155  9.900745e-01

In [140]:
print("All chi-square test results:\n")
print(chi_df.head())

All chi-square test results:

          Variable  Chi_Statistic       P_value
11        OverTime      87.564294  8.158424e-21
8          JobRole      86.190254  2.752482e-15
7         JobLevel      72.529013  6.634685e-15
10   MaritalStatus      46.163677  9.455511e-11
6   JobInvolvement      28.492021  2.863181e-06

Based on the chi-square test results, the factors that significantly influence whether an employee stays with the company include Work-Life Balance, Job Satisfaction, Overtime status, Stock Option Level, and Department.

Conversely, variables such as Education, Gender, Performance Rating, and Relationship Satisfaction were found to be independent of Attrition and will therefore be excluded from the predictor set in the model.

In [141]:
df.to_csv('HR-Employee-Attrition-Processed.csv', index=False)

print("✅ File saved successfully as 'HR-Employee-Attrition-Processed.csv'")

✅ File saved successfully as 'HR-Employee-Attrition-Processed.csv'